@use '../../bem' as * with (
  $block: 'navbar'
);
@use '../../var' as *;

@include b() {
  position: relative;
  $height: 80px;
  width: 100%;
  height: $height;
  border-radius: $height;
  background-color: getColor('primary');
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  @include e('logo') {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12rem;
    margin-right: 30px;
  }
  @include e('menu') {
    display: flex;
    align-items: center;
    gap: 20px;
    @include e('menu-item') {
      .ra-button {
        font-size: 1.5rem !important;
      }
    }
  }
}
