@use '_var' as *;

$size: 50px;
@mixin button() {
  .ra-button {
    max-width: $size;
    width: $size;
    height: $size;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: getColor('primary');
    color: getFillColor();
    @content;
  }
}
